
div#container{
	width: 1000px;
	font-family: "微软雅黑";
	background: #FFFFFF;
	margin: 0 auto;
	font-size: 40px/1.5 Arial;
}
.header{
	background: #FFFFFF;
	height: 200px;
	width: 1000px;
	background-image: url(../images/tree.jpg);
	margin: 0;
	padding: 0;
}
.header .social-info{
	float: right;
	margin: 50px;
	width: 20%;
}
.header .social-info .qzone img{
	float: left;
	width: 30px;
	height: 30px;
}
.header .social-info .weibo img{
	width: 30px;
	float: left;
	height: 30px;
	margin-left: 10px;
}
.header .social-info .renren img{
	width: 30px;
	float: left;
	height: 30px;
	margin-left: 10px;
}
.header .social-info .github img{
	width: 30px;
	float: left;
	height: 30px;
	margin-left: 10px;
}
.header .social-info .facebook img{
	width: 30px;
	float: left;
	height: 30px;
	margin-left: 10px;
}
.header .photo img{
	float: left;
	margin-left: 60px;
	margin-top: 30px;
	height: 150px;
	width: 150px;
	border-radius: 75px;
}
.header .info{
	float: left;
	margin-left: 10px;
	margin-top: 30px;
	height: 150px;
}
.header .info .name{
	float: left;
	width: 100%;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 30px;
	font-family: "楷体";
}
.header .info .short-introduce{
	float: left;
	width: 100%;
	font-size: 25px;
	font-family: "楷体";
	margin-top: 40px;
	margin-left: 10px;
}
.marks{
	width: 20%;
	height: 700px;
	float: left;
	font-size: 20px;
	background-image: url(../images/mark.jpg);
	text-align: center;
}
.marks .personal-info{
	height: 10%;
	margin-top: 10%;
}
.marks .blog{
	height: 10%;
	margin-top: 10%;
}
.marks .work{
	height: 10%;
	margin-top: 10%;
}
.marks .contact{
	height: 10%;
	margin-top: 10%;
}
.region{
	float: left;
	width: 80%;
	background-image: url("../images/green.jpg");
	font-family: "微软雅黑";
}
.region .blogdate{
	float: left;
	width: 100%;
	height: 5%;
	font-size: 25px;
	text-align: left;
}
.region .blogcontent{
	float: left;
	width: 100%;
}
.region .blogcontent .title{
	float: left;
	width: 100%;
	height: 20%;
	font-size: 20px;
	text-align: center;
}
.region .blogcontent .essay{
	float: left;
	margin-top: 10px;
	width: 100%;
	font-size: 15px;
}